.navbar-expand-lg{
    background-color: lightcoral !important;
}
.nav-link-change{
    color: white !important;
    font-size: large;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: black;
    border-radius: 50%;
}
.Pizza-card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
.card{
    
    border:2px solid lightcoral;
    
}
footer{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    text-align: justify;
    color: black;
}